---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<h1>O nas</h1>
<b>Fundacja Wolnego Oprogramowania Reszka</b> to polska organizacja non-profit, promująca ideę wolnego i otwartego oprogramowania. Propagujemy wykorzystywanie nowoczesnych technologii z zakresu wolnego i otwartego oprogramowania w instytucjach rządowych, pozarządowych, samorządowych, biznesowych i innych podmiotach w ogólnie pojętym poradnictwie obywatelskim.
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Najnowsz{% if latestPostsCount != 1 %}e{% else %}y{% endif %} {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}y{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} więcej postów można znaleźć w <a href="blog.njk">archiwum</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
